<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypnos Adventure Game!</title>
</head>
<body>
    <h1>Hypnos Adventure Game!</h1>
    <h2>Help Cod Wake Up!</h2>
    <h3>Choose your path below</h3>

    <button onclick="location.href='/path/left'">Left</button>
    <button onclick="location.href='/path/right'">Right</button>
    <button onclick="location.href='/path/up'">Up</button>
    <button onclick="location.href='/path/down'">Down</button>
</body>
</html>